/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 8%;
}

article {
  font-size: 13px;
}

h1 {
  font-size: 32px;
}

h2 {
}

img {
  max-width: 100%;
}

main {
}

section {
}

figure {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

figcaption {
  font-size: 0.8em;
}

/* first breakpoint */
@media screen and (min-width: 600px) {
  body {
    background-color: lightblue;
    margin: 5%;
  }

  article {
    font-size: 24px;
  }

  h1 {
    font-size: 34px;
  }

  section {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-evenly;
  }

  img {
    max-width: 300px;
    min-width: 200px;
  }
}
